version: '2'

services:
  nextcloud:
    image: nextcloud
    ports:
      - 8080:80
    volumes:
      - ./nextcloud-config:/var/www/html/config
      - ./nextcloud-apps:/var/www/html/custom_apps
      - ./nextcloud-data:/var/www/html/data

  collabora:
    image: collabora/code
    ports:
      - 9980:9980
    environment:
      - domain="localhost:8080"
      - username="admin"
      - password="admin"
